.Finder {
  margin-top: 20;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(#fff, rgb(17, 17, 17));
  background: linear-gradient(#254233, #4d6d5d);
}

.TinderCard {
  display: flex;
  align-items: center;
}
.row {
  flex-direction: row !important;
}

.row > * {
  margin: 5px;
}

.titletext {
  color: rgb(26, 23, 23);
  margin-top: 80px;
  margin-bottom: 30px;
  text-shadow: 0px 0px 60px 0px rgba(255, 255, 255, 0.3);
  font-size: 110;
  /* z-index: 1; */
  display: flex;
  justify-content: center;
  vertical-align: center;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  color: rgb(255, 249, 249);

  /* -webkit-text-stroke: 1px black; */
}

.h2 {
  color: rgb(12, 12, 12);
}

.swipe {
  position: absolute;
}

.cardContainer {
  align-self: center;
  width: 90vw;
  max-width: 460px;
  height: 500px;
  justify-content: center;
  /* margin-bottom: 10px; */
}

.Finder .card {
  background-color: rgb(255, 253, 253);
  width: 40vw;
  color: white;

  max-width: 460px;
  height: 400px;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  margin-bottom: 300px;
}

.Finder .cardContent {
  width: 100%;
  height: 100%;
}

.swipe:last-of-type {
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: rgb(0, 0, 0);
}

.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: rgb(20, 19, 19);
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: rgb(255, 254, 254);
  font-size: 18px;
  background-color: #151615;
  transition: 200ms;
  margin: 0 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.buttons button:hover {
  transform: scale(1.05);
}

@keyframes popup {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 1.1);
  }
  30% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1, 1);
  }
  57% {
    transform: scale(1, 1);
  }
  64% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
